<div class="card articleInfo">
  <img
    [ngSrc]="urlImg"
    width="349"
    height="250"
    priority
    [alt]="textAltImg">
  <div class="card-body">
    <h5
      class="card-title"
      [ngStyle]="{ color: getColor() }">
      {{ titreArticle }}
      <span *ngIf="!dispo">- Unavailable</span>
    </h5>
    <h6 class="card-title"> {{ prixArticle }} € </h6>
    <p class="card-text">Une description</p>
    <button
      (click)="onLike()"
      [ngClass]="jaime ? 'show': 'hidden'">
      J'aime
    </button>
    <button
      class="nolike"
      (click)="onLike()"
      [ngClass]="jaime ? 'hidden' : 'show'">
      Je n'aime pas
    </button>
    <p>Nombre de like : {{ totalNbrLike }}</p>
    <div class="input-group mb-3">
      <input
        type="text"
        placeholder="Ecris ton commentaire"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        [(ngModel)]="comment">
    </div>
    <p> {{ comment }} </p>
  </div>
</div>
