<div class="d-flex flex-column min-vh-100">
  <!-- Navigation -->
  <nav class="row">
    <div class="col">
      <app-navbar></app-navbar>
    </div>
  </nav>

  <!-- Contenu principal -->
  <main class="row flex-grow-1 pt-4 m-lg-5">
    <div class="col-md-4">
      <div class="list-group">
        <app-article></app-article>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <app-article></app-article>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <app-article></app-article>
      </div>
    </div>
  </main>

  <!-- Pied de page -->
  <footer class="row mt-auto">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </footer>
</div>
