<div class="d-flex flex-column min-vh-100">
  <!-- Navigation -->
  <nav class="row">
    <div class="col">
      <app-navbar></app-navbar>
    </div>
  </nav>

  <!-- Contenu principal -->
  <div id="alertMsg">
    <p>
      {{ message }}
    </p>
  </div>
  <main class="row flex-grow-1 pt-4 m-lg-5" *ngFor="let item of [0,1,2]">
      <div class="col-md-3" *ngFor="let element of liste">
        <div class="list-group">
          <app-article
            [prixArticle]="element.prixArticle"
            [titreArticle]="element.titreArticle"
            [description]="element.description"
            [urlImg]="element.urlImg"
            [textAltImg]="element.textAltImg"
            [dispo]="element.dispo"
          (info)="onAffiche($event)"></app-article>
        </div>
      </div>
  </main>

  <!-- Pied de page -->
  <footer class="row mt-auto">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </footer>
</div>
